<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.koder.stock.coreservice.domain.mapper.StockUserDOMapper">

    <resultMap id="baseResult" type="com.koder.stock.coreservice.domain.dataobject.StockUserDO">
        <result property="id" column="id"/>
        <result property="modifiedTime" column="modified_time"/>
        <result property="createTime" column="create_time"/>
        <result property="fundAccount" column="fund_account"/>
        <result property="mobilePhone" column="mobile_phone"/>
        <result property="loginPwd" column="login_pwd"/>
        <result property="tradePwd" column="trade_pwd"/>
        <result property="features" column="features"/>
    </resultMap>

    <sql id="table_name">
        stock_user
    </sql>

    <sql id="all_columns">
        id,modified_time,create_time,fund_account,mobile_phone,login_pwd,trade_pwd,features
    </sql>

    <select id="queryByUP" parameterType="map" resultMap="baseResult">
        select
            <include refid="all_columns" />
        from
            <include refid="table_name" />
        where mobile_phone=#{mobilePhone} and login_pwd=#{password}
    </select>

</mapper>